.search-page {
	margin-top: 72px;

	.heading {
		text-align: center;
	}

	.search-container {
		width: 80%;
		margin: 2rem auto;

		.search {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: 2px solid grey;
			border-radius: 6px;
			padding: 5px 10px;
			input {
				background-color: inherit;
				color: white;
				outline: none;
				border: none;
				width: 100%;
			}
			.icon {
				color: grey;
			}
		}
	}
}
