.slider {
	margin-top: 20px;
	border: 2px solid red;
	padding-left: 35px;
	padding-right: 35px;

	& > button {
		opacity: 0;
		height: 100%;
		width: 5vw;
		z-index: 1;
	}

	.image-container {
		width: 80%;
		margin: 0 auto;
		height: 200px;

		& > img {
			height: 100%;
		}
	}

	& > .slick-next {
		right: 5px;
	}

	& > .slick-prev {
		left: 5px;
		z-index: 1;
	}
}
