.home-page {
	position: relative;
	min-height: calc(100vh - 72px);
	overflow-x: hidden;
	display: block;
	top: 72px;
	padding: 0 calc(3.5vw + 5px);

	&:after {
		position: absolute;
		inset: 0px;
		opacity: 1;
		z-index: -1;
	}
}
